* {
  font-family: Helvetica, Arial, sans-serif !important;
}

html {
  font-size: 13px;
}

body a {
  border-bottom: 1px solid #b5b5b5;
  color: #b5b5b5;
  text-decoration: none;
  transition: 0.3s;
}

body a:hover {
  border-bottom: 1px solid #1c69d4;
  color: #1c69d4;
  text-decoration: none;
}

/* These font-sizes sometimes need to be reduced on medium and small screens, but should be coded to spec for large screens */

#marquee-headline {
  /*color: #fff;*/
  /*color: #000;*/
  font-size: 3.6875rem; /* DO NOT CHANGE - ADJUST `html { font-size }` ABOVE TO KEEP ALL TEXT RELATIVE AND COMPLIANT */
  font-weight: bold;
  line-height: 1;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.marquee-content {
  /*color: #fff;*/
  /*color: #000;*/
  font-size: 1.6875rem; /* DO NOT CHANGE - ADJUST `html { font-size }` ABOVE TO KEEP ALL TEXT RELATIVE AND COMPLIANT */
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase;
}

.promos-headline {
  /*color: #fff;*/
  /*color: #000;*/
  font-size: 1.5rem; /* DO NOT CHANGE - ADJUST `html { font-size }` ABOVE TO KEEP ALL TEXT RELATIVE AND COMPLIANT */
  font-weight: bold;
  line-height: 1.22;
  text-transform: uppercase;
}

.promos-content {
  /*color: #fff;*/
  /*color: #000;*/
  font-size: 1.1875rem; /* DO NOT CHANGE - ADJUST `html { font-size }` ABOVE TO KEEP ALL TEXT RELATIVE AND COMPLIANT */
  font-weight: normal;
  line-height: 1.43;
}

.section-title {
  /*color: #fff;*/
  /*color: #000;*/
  font-family: Arial, sans-serif;
  font-size: 3rem; /* DO NOT CHANGE - ADJUST `html { font-size }` ABOVE TO KEEP ALL TEXT RELATIVE AND COMPLIANT */
  font-weight: lighter;
  line-height: 1.11;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-transform: uppercase;
}

.body-copy {
  /*color: #fff;*/
  /*color: #000;*/
  font-size: 1.1875rem; /* DO NOT CHANGE - ADJUST `html { font-size }` ABOVE TO KEEP ALL TEXT RELATIVE AND COMPLIANT */
  font-weight: normal;
  line-height: 1.43;
}

.legal-content-max {
  color: #666766;
  font-size: 0.8125rem; /* DO NOT CHANGE - ADJUST `html { font-size }` ABOVE TO KEEP ALL TEXT RELATIVE AND COMPLIANT */
  line-height: 1.6;
}

.legal-content-min {
  color: #666766;
  font-size: 0.6875rem; /* DO NOT CHANGE - ADJUST `html { font-size }` ABOVE TO KEEP ALL TEXT RELATIVE AND COMPLIANT */
  line-height: 1.6;
}

/* BUTTONS */
a.bmw-primary-btn-link {
  background-color: transparent;
  border-bottom: none;
}

a.bmw-primary-btn-link,
a.bmw-primary-btn-link:active,
a.bmw-primary-btn-link:hover,
a.bmw-primary-btn-link:focus {
  border-bottom: none;
  color: #fff;
  outline: 0;
  text-decoration: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.bmw-primary-btn-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(28,98,197,1)), color-stop(50%, rgba(28,105,211,1)), color-stop(100%, rgba(28,105,211,1)), to(rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(28,98,197,1) 0%, rgba(28,105,211,1) 50%, rgba(28,105,211,1) 100%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(28,98,197,1) 0%, rgba(28,105,211,1) 50%, rgba(28,105,211,1) 100%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(28,98,197,1) 0%, rgba(28,105,211,1) 50%, rgba(28,105,211,1) 100%, rgba(255,255,255,1) 100%); /* BMW mandate */
  background-position: left top;
  background-size: 100% 200%;
  cursor: pointer;
  display: block;
  height: 51px; /* BMW mandate */
  position: relative;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  width: 191px; /* BMW mandate */
}

.bmw-primary-btn {
  color: #fff; /* BMW mandate */
  font-size: 14px; /* BMW mandate */
  font-weight: bold;
  left: 50%;
  position: absolute;
  text-align: center;
  text-transform: uppercase; /* BMW mandate */
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 100%;
}

.bmw-primary-btn-wrapper:hover,
.bmw-primary-btn-wrapper:active,
.bmw-primary-btn-wrapper:focus {
  background-color: transparent;
  background-position: left bottom;
  color: #fff;
}



a.bmw-secondary-btn-link {
  background-color: transparent;
  border-bottom: none;
}

a.bmw-secondary-btn-link,
a.bmw-secondary-btn-link:active,
a.bmw-secondary-btn-link:hover,
a.bmw-secondary-btn-link:focus {
  border-bottom: none;
  color: #fff;
  outline: 0;
  text-decoration: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.bmw-secondary-btn-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(102,103,102,1)), color-stop(50%, rgba(151,151,153,1)), color-stop(100%, rgba(181,181,181,1)), to(rgba(181,181,181,1)));
  background: -webkit-linear-gradient(top, rgba(102,103,102,1) 0%, rgba(151,151,153,1) 50%, rgba(181,181,181,1) 100%, rgba(181,181,181,1) 100%);
  background: -o-linear-gradient(top, rgba(102,103,102,1) 0%, rgba(151,151,153,1) 50%, rgba(181,181,181,1) 100%, rgba(181,181,181,1) 100%);
  background: linear-gradient(to bottom, rgba(102,103,102,1) 0%, rgba(151,151,153,1) 50%, rgba(181,181,181,1) 100%, rgba(181,181,181,1) 100%); /* BMW mandate */
  background-position: left top;
  background-size: 100% 200%;
  cursor: pointer;
  display: block;
  height: 51px; /* BMW mandate */
  position: relative;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  width: 191px; /* BMW mandate */
}

.bmw-secondary-btn {
  color: #fff; /* BMW mandate */
  font-size: 14px; /* BMW mandate */
  font-weight: bold;
  left: 50%;
  position: absolute;
  text-align: center;
  text-transform: uppercase; /* BMW mandate */
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 100%;
}

.bmw-secondary-btn-wrapper:hover,
.bmw-secondary-btn-wrapper:active,
.bmw-secondary-btn-wrapper:focus {
  background-color: transparent;
  background-position: left bottom;
  color: #fff;
}



.safety-area {
  margin: 0 auto;
  max-width: 1268px; /* BMW mandate */
  width: 100%;
}

.nineteen-hundred {
  margin: 0 auto;
  max-width: 1900px; /* BMW mandate */
  width: 100%;
}

section {
  margin-bottom: 50px;
}

#h1-container {
  padding: 50px 15px 30px 15px;
}

#exterior-section-img,
#interior-section-img {
  margin-bottom: 30px;
}

.card {
  border-radius: 0;
}

.card-body {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededee));
  background: -webkit-linear-gradient(#fff, #ededee);
  background: -o-linear-gradient(#fff, #ededee);
  background: linear-gradient(#fff, #ededee);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  section {
    margin-bottom: 100px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  html {
    font-size: 16px; /* DO NOT CHANGE OR PAGE WILL BE NON-COMPLIANT */
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  #h1-container {
    padding: 80px 15px 30px 15px;
  }

}

/* 1300px and up */
@media (min-width: 1300px) {

  #h1-container {
    padding: 100px 15px 30px 15px;
  }

}